# Adding LAT and LON in Data

In [1]:
## Adding to incidencia delictiva municipal
#Import both DF
import pandas as pd
import numpy as np

path_inegi = 'D:\\Downloads\\'
df_inegi = pd.read_excel(path_inegi + "AGEEML_2023101313538.xlsx", skiprows=3) # INEGI
path_mun = "D:\\Proyects\\IncidenciaDelictivaMexico\\Data\\"
df_mun = pd.read_csv(path_mun + "IDM_NM_ago23.csv", encoding='iso-8859-1') #incidencia delictiva municipal

In [2]:
#Column of both dfs
print("Columnas Inegi: ",df_inegi.columns)
print("Columnas municipios: ",df_mun.columns)

Columnas Inegi:  Index(['MAPA', 'Estatus', 'CVE_ENT', 'NOM_ENT', 'NOM_ABR', 'CVE_MUN',
       'NOM_MUN', 'CVE_LOC', 'NOM_LOC', 'AMBITO', 'LATITUD', 'LONGITUD',
       'LAT_DECIMAL', 'LON_DECIMAL', 'ALTITUD', 'CVE_CARTA', 'POB_TOTAL',
       'POB_MASCULINA', 'POB_FEMENINA', 'TOTAL DE VIVIENDAS HABITADAS'],
      dtype='object')
Columnas municipios:  Index(['Año', 'Clave_Ent', 'Entidad', 'Cve. Municipio', 'Municipio',
       'Bien jurídico afectado', 'Tipo de delito', 'Subtipo de delito',
       'Modalidad', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
       'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')

In [3]:
#Selecting columns

#INEGI
df_inegi_test = df_inegi[["NOM_ENT","NOM_MUN","NOM_LOC","LAT_DECIMAL","LON_DECIMAL"]] #INEGI
#MUNICIPIO
df_mun = df_mun.drop(columns=['Clave_Ent', 'Cve. Municipio']) #Dropping columns not needed

#### MUNICIPIO

In [4]:
#Eliminating space between words of Entidad and Municipio and adding them together to create a unique id for MUN
df_mun['Municipio'] = df_mun['Municipio'].str.strip()
df_mun['Municipio'] = df_mun['Municipio'].str.replace('Angel Albino Corzo', 'Ángel Albino Corzo') #Change value of specific row
df_mun['Municipio_'] = df_mun['Municipio'].str.replace(' ', '')
df_mun['Entidad'] = df_mun['Entidad'].str.strip()
df_mun['Entidad_'] = df_mun['Entidad'].str.replace(' ', '')
df_mun['Concatenated_Column'] = df_mun['Entidad_'] + df_mun['Municipio_']
df_mun = df_mun.drop(columns=['Municipio_', 'Entidad_']) #Dropping not needed columns
df_mun.columns

Index(['Año', 'Entidad', 'Municipio', 'Bien jurídico afectado',
       'Tipo de delito', 'Subtipo de delito', 'Modalidad', 'Enero', 'Febrero',
       'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
       'Octubre', 'Noviembre', 'Diciembre', 'Concatenated_Column'],
      dtype='object')

#### INEGI

In [5]:
# Eliminating space between words of Entidad and Municipio and adding them together to create a unique id for INEGI
df_inegi_test['NOM_MUN'] = df_inegi_test['NOM_MUN'].str.replace('Angel Albino Corzo', 'Ángel Albino Corzo')#Change value of specific row
df_inegi_test['NOM_MUN'] = df_inegi_test['NOM_MUN'].str.strip()
df_inegi_test['NOM_MUN_'] = df_inegi_test['NOM_MUN'].str.replace(' ', '')
df_inegi_test['NOM_ENT'] = df_inegi_test['NOM_ENT'].str.strip()
df_inegi_test['NOM_ENT_'] = df_inegi_test['NOM_ENT'].str.replace(' ', '')
df_inegi_test['Concatenated_Column'] = df_inegi_test['NOM_ENT_'] + df_inegi_test['NOM_MUN_']
df_inegi_test = df_inegi_test.drop(columns=['NOM_MUN_', 'NOM_ENT_']) #Dropping not needed columns
df_inegi_test.columns

C:\Users\filag\AppData\Local\Temp\ipykernel_13548\2750274657.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inegi_test['NOM_MUN'] = df_inegi_test['NOM_MUN'].str.replace('Angel Albino Corzo', 'Ángel Albino Corzo')#Change value of specific row
C:\Users\filag\AppData\Local\Temp\ipykernel_13548\2750274657.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inegi_test['NOM_MUN'] = df_inegi_test['NOM_MUN'].str.strip()
C:\Users\filag\AppData\Local\Temp\ipykernel_13548\2750274657.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inegi_test['NOM_MUN_'] = df_inegi_test['NOM_MUN'].str.replace(' ', '')
C:\Users\filag\AppData\Local\Temp\ipykernel_13548\2750274657.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inegi_test['NOM_ENT'] = df_inegi_test['NOM_ENT'].str.strip()
C:\Users\filag\AppData\Local\Temp\ipykernel_13548\2750274657.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inegi_test['NOM_ENT_'] = df_inegi_test['NOM_ENT'].str.replace(' ', '')
C:\Users\filag\AppData\Local\Temp\ipykernel_13548\2750274657.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inegi_test['Concatenated_Column'] = df_inegi_test['NOM_ENT_'] + df_inegi_test['NOM_MUN_']

Index(['NOM_ENT', 'NOM_MUN', 'NOM_LOC', 'LAT_DECIMAL', 'LON_DECIMAL',
       'Concatenated_Column'],
      dtype='object')

#### FINDING MISSING VALUES IN INEGI & MUN

In [6]:
#Getting distinct values of id columns

distinct_mun_concat = df_mun['Concatenated_Column'].drop_duplicates() #MUN
distinct_inegi = df_inegi_test['Concatenated_Column'].drop_duplicates() #INEGI

In [7]:
# Find values in inegi but not in mun
in_inegi_not_in_mun = set(distinct_inegi) - set(distinct_mun_concat)

# Find values in mun but not in inegi
in_mun_not_in_inegi = set(distinct_mun_concat) - set(distinct_inegi)

print("Values in inegi but not in mun:", in_inegi_not_in_mun)
print("Values in mun but not in inegi:", in_mun_not_in_inegi)

Values in inegi but not in mun: {'PueblaHuehuetlánElChico', 'OaxacaVilladeSantiagoChazumba', 'PueblaSanSalvadorElVerde', 'PueblaSanDiegoLaMesaTochimiltzingo', 'SanLuisPotosíAhualulcodelSonido13', 'PueblaHuehuetlánElGrande', 'PueblaTetelesdeÁvilaCastillo', 'SonoraÓnavas', 'OaxacaSanPedroMixtepec', 'YucatánDzan', 'OaxacaHeroicaVilladeSanBlasAtempa', 'SonoraÁlamos', 'OaxacaVillaHidalgoYalálag', 'OaxacaSanJuanMixtepec', 'YucatánTixméhuac', 'PueblaSanSalvadorElSeco', 'ChiapasCintalapadeFigueroa', 'OaxacaJuchitándeZaragoza'}
Values in mun but not in inegi: {'SonoraOnavas', 'SanLuisPotosíAhualulco', 'PueblaHuehuetlánelGrande', 'CiudaddeMéxicoNoEspecificado', 'OaxacaSanJuanMixtepecDistrito08', 'VeracruzdeIgnaciodelaLlaveOtrosMunicipios', 'PueblaHuehuetlánelChico', 'YucatánDzán', 'SonoraOtrosMunicipios', 'OaxacaSanPedroMixtepecDistrito26', 'OaxacaSanBlasAtempa', 'QuerétaroNoEspecificado', 'OaxacaVillaHidalgo', 'OaxacaOtrosMunicipios', 'ChiapasCintalapa', 'PueblaTetelesdeAvilaCastillo', 'VeracruzdeIgnaciodelaLlaveNoEspecificado', 'SonoraNoEspecificado', 'OaxacaSanPedroMixtepecDistrito22', 'OaxacaHeroicaCiudaddeJuchitándeZaragoza', 'OaxacaSanJuanMixtepecDistrito26', 'SonoraAlamos', 'JaliscoNoEspecificado', 'PueblaSanSalvadorelVerde', 'YucatánTixmehuac', 'PueblaSanDiegolaMesaTochimiltzingo', 'PueblaSanSalvadorelSeco', 'OaxacaSantiagoChazumba'}

In [8]:
#List of missing values

pd.DataFrame(in_mun_not_in_inegi)

                                            0
0                                SonoraOnavas
1                      SanLuisPotosíAhualulco
2                    PueblaHuehuetlánelGrande
3                CiudaddeMéxicoNoEspecificado
4             OaxacaSanJuanMixtepecDistrito08
5   VeracruzdeIgnaciodelaLlaveOtrosMunicipios
6                     PueblaHuehuetlánelChico
7                                 YucatánDzán
8                       SonoraOtrosMunicipios
9            OaxacaSanPedroMixtepecDistrito26
10                        OaxacaSanBlasAtempa
11                    QuerétaroNoEspecificado
12                         OaxacaVillaHidalgo
13                      OaxacaOtrosMunicipios
14                           ChiapasCintalapa
15               PueblaTetelesdeAvilaCastillo
16   VeracruzdeIgnaciodelaLlaveNoEspecificado
17                       SonoraNoEspecificado
18           OaxacaSanPedroMixtepecDistrito22
19    OaxacaHeroicaCiudaddeJuchitándeZaragoza
20            OaxacaSanJuanMixtepecDistrito26
21                               SonoraAlamos
22                      JaliscoNoEspecificado
23                   PueblaSanSalvadorelVerde
24                           YucatánTixmehuac
25         PueblaSanDiegolaMesaTochimiltzingo
26                    PueblaSanSalvadorelSeco
27                     OaxacaSantiagoChazumba

##### What's next?
* We copy those values and add the corresponding LAT and LON data to it.
* Then we import that list into a dataframe to append it to the rest of values with LAT and LON unique id rows

In [9]:
#Import missing values with LAT & LON values

path3 = 'D:\\Proyects\\IncidenciaDelictivaMexico\\Data\\'
df_to_add = pd.read_excel(path3 + "ToAdd.xlsx")
df_to_add.tail(5)

                         MissingData  LAT_DECIMAL  LON_DECIMAL
23           PueblaHuehuetlánelChico    18.373852   -98.689941
24             JaliscoNoEspecificado    20.241580  -103.959412
25          PueblaSanSalvadorelVerde    19.268842   -98.516169
26  OaxacaSanPedroMixtepecDistrito26    16.271370   -96.284602
27                  YucatánTixmehuac    20.236083   -89.108245

In [10]:
#Adding missing values to INEGI
df_inegi_append = df_inegi_test[["Concatenated_Column","LAT_DECIMAL","LON_DECIMAL"]]
df_to_add = df_to_add.rename(columns={'MissingData': 'Concatenated_Column'}) #rename 
pd.DataFrame(df_inegi_append)

df_appended = pd.concat([df_inegi_append, df_to_add], ignore_index=True)
df_appended.tail()

                     Concatenated_Column  LAT_DECIMAL  LON_DECIMAL
299095           PueblaHuehuetlánelChico    18.373852   -98.689941
299096             JaliscoNoEspecificado    20.241580  -103.959412
299097          PueblaSanSalvadorelVerde    19.268842   -98.516169
299098  OaxacaSanPedroMixtepecDistrito26    16.271370   -96.284602
299099                  YucatánTixmehuac    20.236083   -89.108245

#### What's next?
* Due to the large ammount of rows in mun dataframe (over 2M), we will do the merge in SQL, this is because we tried doing it here in pandas, but we encounter a memmory error. As we can see the INEGI column has over 200k rows, this is because it includes the values not only for the municipios of a state, also it includes the small towns and villages in those municipios, for that reason in SQL we will only leave one row of LAT and LON data for each municipio, and with that we will merge it with the MUN table using the Concatenated_Column as a unique key id.
* Now we are going to add the LAT and LON info for the other two tables (Incidencia Delictiva por estado | Incidencia Fuera Fuero Comun), we will try to do this in python cause the ammount of information is less than the current one (over 2M rows)

#### ESTATAL

In [11]:
idedo = pd.read_csv(path_mun + "IDEFC_NM_ago23.csv", encoding='iso-8859-1') #incidencia delictiva estatal
distinct_edo = idedo['Entidad'].drop_duplicates()

# Export states
# path = "D:\\Proyects\\"
# distinct_edo.to_excel(path + "Edos.xlsx")

In [12]:
#Import states with capitals added
states = pd.read_excel(path_mun + "Edos.xlsx")
#Taking the space between words for capitales
states['Capitales'] = states['Capitales'].str.strip()
states['Capitales_'] = states['Capitales'].str.replace(' ', '')
#Taking the space between words for Entidades
states['Entidad'] = states['Entidad'].str.strip()
states['Entidad_'] = states['Entidad'].str.replace(' ', '')
states['Concatenated_Column'] = states['Entidad_'] + states['Capitales_']
states.tail()

,Entidad,Capitales,Capitales_,Entidad_,Concatenated_Column
27,Tamaulipas,Ciudad Victoria,CiudadVictoria,Tamaulipas,TamaulipasCiudadVictoria
28,Tlaxcala,Tlaxcala de Xicohténcatl,TlaxcaladeXicohténcatl,Tlaxcala,TlaxcalaTlaxcaladeXicohténcatl
29,Veracruz de Ignacio de la Llave,Xalapa Enríquez,XalapaEnríquez,VeracruzdeIgnaciodelaLlave,VeracruzdeIgnaciodelaLlaveXalapaEnríquez
30,Yucatán,Mérida,Mérida,Yucatán,YucatánMérida
31,Zacatecas,Zacatecas,Zacatecas,Zacatecas,ZacatecasZacatecas

In [13]:
#INEGI table - Obtaining the id for state and capital

#df_inegi_test.tail()
#Taking the space between words for ENT
df_inegi_test['NOM_ENT'] = df_inegi_test['NOM_ENT'].str.strip()
df_inegi_test['NOM_ENT_'] = df_inegi_test['NOM_ENT'].str.replace(' ', '')
#Taking the space between words for LOC
df_inegi_test['NOM_LOC'] = df_inegi_test['NOM_LOC'].str.strip()
df_inegi_test['NOM_LOC_'] = df_inegi_test['NOM_LOC'].str.replace(' ', '')
#Values not present, replacing values to correspond to the capital
df_inegi_test['NOM_LOC_'] = df_inegi_test['NOM_LOC_'].str.replace('Xalapa-Enríquez', 'XalapaEnríquez') 
df_inegi_test['NOM_LOC_'] = df_inegi_test['NOM_LOC_'].str.replace('SanFranciscodeCampeche', 'Campeche')
df_inegi_test['NOM_LOC_'] = df_inegi_test['NOM_LOC_'].str.replace('Cuauhtémoc', 'CiudaddeMéxico')
#Creating new column of ENT and LOC
df_inegi_test['Concatenated_Column'] = df_inegi_test['NOM_ENT_'] + df_inegi_test['NOM_LOC_']

df_inegi_test.tail()

,NOM_ENT,NOM_MUN,NOM_LOC,LAT_DECIMAL,LON_DECIMAL,Concatenated_Column,NOM_ENT_,NOM_LOC_
299067,Zacatecas,Santa María de la Paz,San Isidro,21.486425,-103.337267,ZacatecasSanIsidro,Zacatecas,SanIsidro
299068,Zacatecas,Santa María de la Paz,San José,21.516539,-103.456568,ZacatecasSanJosé,Zacatecas,SanJosé
299069,Zacatecas,Santa María de la Paz,San Miguel Tepetitlán,21.504213,-103.335932,ZacatecasSanMiguelTepetitlán,Zacatecas,SanMiguelTepetitlán
299070,Zacatecas,Santa María de la Paz,San Rafael,21.527594,-103.372259,ZacatecasSanRafael,Zacatecas,SanRafael
299071,Zacatecas,Santa María de la Paz,Santa Fe,21.528991,-103.385095,ZacatecasSantaFe,Zacatecas,SantaFe

In [15]:
#FINDING MISSING VALUES
#Getting distinct values of id columns

distinct_edo_concat = states['Concatenated_Column'].drop_duplicates() #EDO
distinct_inegi = df_inegi_test['Concatenated_Column'].drop_duplicates() #INEGI
print(distinct_edo_concat)

0                 AguascalientesAguascalientes
1                       BajaCaliforniaMexicali
2                       BajaCaliforniaSurLaPaz
3                             CampecheCampeche
4                   CoahuiladeZaragozaSaltillo
5                                 ColimaColima
6                       ChiapasTuxtlaGutiérrez
7                           ChihuahuaChihuahua
8                 CiudaddeMéxicoCiudaddeMéxico
9                     DurangoVictoriadeDurango
10                        GuanajuatoGuanajuato
11              GuerreroChilpancingodelosBravo
12                        HidalgoPachucadeSoto
13                          JaliscoGuadalajara
14                         MéxicoTolucadeLerdo
15                    MichoacándeOcampoMorelia
16                           MorelosCuernavaca
17                                NayaritTepic
18                          NuevoLeónMonterrey
19                        OaxacaOaxacadeJuárez
20               PueblaHeroicaPuebladeZaragoza
21                QuerétaroSantiagodeQuerétaro
22                         QuintanaRooChetumal
23                  SanLuisPotosíSanLuisPotosí
24                      SinaloaCuliacánRosales
25                            SonoraHermosillo
26                         TabascoVillahermosa
27                    TamaulipasCiudadVictoria
28              TlaxcalaTlaxcaladeXicohténcatl
29    VeracruzdeIgnaciodelaLlaveXalapaEnríquez
30                               YucatánMérida
31                          ZacatecasZacatecas
Name: Concatenated_Column, dtype: object

In [16]:
# Find values in inegi but not in mun
in_inegi_not_in_edo = set(distinct_inegi) - set(distinct_edo_concat)

# Find values in mun but not in inegi
in_edo_not_in_inegi = set(distinct_edo_concat) - set(distinct_inegi)

#print("Values in inegi but not in mun:", in_inegi_not_in_edo)
print("Values in edo but not in inegi:", in_edo_not_in_inegi)

Values in edo but not in inegi: set()

In [17]:
#Adding missing columns of LAT and LOG to EDO
df_inegi_merge = df_inegi_test[["Concatenated_Column","LAT_DECIMAL","LON_DECIMAL"]]
inegi = pd.DataFrame(df_inegi_merge)
states = pd.DataFrame(states)
#states.tail()
# Merge the 'inegi' and 'states' DataFrames based on 'Concatenated_Column'

# Merge the 'inegi' and 'states' DataFrames based on 'Concatenated_Column'
result = inegi.merge(states, on='Concatenated_Column')

# Display the result
print(result)

                         Concatenated_Column  LAT_DECIMAL  LON_DECIMAL  \
0               AguascalientesAguascalientes    21.879822  -102.296046
1                     BajaCaliforniaMexicali    32.641176  -115.475578
2                     BajaCaliforniaSurLaPaz    24.148745  -110.306590
3                           CampecheCampeche    19.844814   -90.539649
4                 CoahuiladeZaragozaSaltillo    25.421664  -100.999721
5                               ColimaColima    19.242922  -103.728118
6                     ChiapasTuxtlaGutiérrez    16.753972   -93.115192
7                         ChihuahuaChihuahua    28.636794  -106.076306
8               CiudaddeMéxicoCiudaddeMéxico    19.441646   -99.151884
9                   DurangoVictoriadeDurango    24.023987  -104.670194
10                      GuanajuatoGuanajuato    21.016098  -101.253621
11            GuerreroChilpancingodelosBravo    17.551649   -99.501063
12                      HidalgoPachucadeSoto    20.122359   -98.737000
13                        JaliscoGuadalajara    20.676388  -103.342222
14                       MéxicoTolucadeLerdo    19.293488   -99.657317
15                  MichoacándeOcampoMorelia    19.703384  -101.192046
16                         MorelosCuernavaca    18.921782   -99.234897
17                              NayaritTepic    21.507413  -104.893799
18                        NuevoLeónMonterrey    25.883676   -99.959128
19                        NuevoLeónMonterrey    25.664697  -100.310892
20                      OaxacaOaxacadeJuárez    17.059993   -96.725450
21             PueblaHeroicaPuebladeZaragoza    19.043989   -98.197494
22              QuerétaroSantiagodeQuerétaro    20.593391  -100.389957
23                       QuintanaRooChetumal    18.493889   -88.297899
24                SanLuisPotosíSanLuisPotosí    23.604599  -100.666159
25                SanLuisPotosíSanLuisPotosí    22.151655  -100.976957
26                    SinaloaCuliacánRosales    24.808808  -107.393756
27                          SonoraHermosillo    29.074891  -110.958464
28                          SonoraHermosillo    28.640329  -111.526694
29                       TabascoVillahermosa    17.987837   -92.919415
30                  TamaulipasCiudadVictoria    23.731052   -99.151250
31            TlaxcalaTlaxcaladeXicohténcatl    19.316553   -98.237640
32  VeracruzdeIgnaciodelaLlaveXalapaEnríquez    19.527084   -96.922644
33                             YucatánMérida    20.967537   -89.624391
34                        ZacatecasZacatecas    22.776095  -102.571836

                            Entidad                   Capitales  \
0                    Aguascalientes              Aguascalientes
1                   Baja California                    Mexicali
2               Baja California Sur                      La Paz
3                          Campeche                    Campeche
4              Coahuila de Zaragoza                    Saltillo
5                            Colima                      Colima
6                           Chiapas            Tuxtla Gutiérrez
7                         Chihuahua                   Chihuahua
8                  Ciudad de México            Ciudad de México
9                           Durango         Victoria de Durango
10                       Guanajuato                  Guanajuato
11                         Guerrero   Chilpancingo de los Bravo
12                          Hidalgo             Pachuca de Soto
13                          Jalisco                 Guadalajara
14                           México             Toluca de Lerdo
15              Michoacán de Ocampo                     Morelia
16                          Morelos                  Cuernavaca
17                          Nayarit                       Tepic
18                       Nuevo León                   Monterrey
19                       Nuevo León                   Monterrey
20                           Oaxaca            Oaxaca de Juárez
21                           Puebla  Heroica Puebla de Zaragoza
22                        Querétaro       Santiago de Querétaro
23                     Quintana Roo                    Chetumal
24                  San Luis Potosí             San Luis Potosí
25                  San Luis Potosí             San Luis Potosí
26                          Sinaloa            Culiacán Rosales
27                           Sonora                  Hermosillo
28                           Sonora                  Hermosillo
29                          Tabasco                Villahermosa
30                       Tamaulipas             Ciudad Victoria
31                         Tlaxcala    Tlaxcala de Xicohténcatl
32  Veracruz de Ignacio de la Llave             Xalapa Enríquez
33                          Yucatán                      Mérida
34                        Zacatecas                   Zacatecas

                 Capitales_                    Entidad_
0            Aguascalientes              Aguascalientes
1                  Mexicali              BajaCalifornia
2                     LaPaz           BajaCaliforniaSur
3                  Campeche                    Campeche
4                  Saltillo          CoahuiladeZaragoza
5                    Colima                      Colima
6           TuxtlaGutiérrez                     Chiapas
7                 Chihuahua                   Chihuahua
8            CiudaddeMéxico              CiudaddeMéxico
9         VictoriadeDurango                     Durango
10               Guanajuato                  Guanajuato
11   ChilpancingodelosBravo                    Guerrero
12            PachucadeSoto                     Hidalgo
13              Guadalajara                     Jalisco
14            TolucadeLerdo                      México
15                  Morelia           MichoacándeOcampo
16               Cuernavaca                     Morelos
17                    Tepic                     Nayarit
18                Monterrey                   NuevoLeón
19                Monterrey                   NuevoLeón
20           OaxacadeJuárez                      Oaxaca
21  HeroicaPuebladeZaragoza                      Puebla
22      SantiagodeQuerétaro                   Querétaro
23                 Chetumal                 QuintanaRoo
24            SanLuisPotosí               SanLuisPotosí
25            SanLuisPotosí               SanLuisPotosí
26          CuliacánRosales                     Sinaloa
27               Hermosillo                      Sonora
28               Hermosillo                      Sonora
29             Villahermosa                     Tabasco
30           CiudadVictoria                  Tamaulipas
31   TlaxcaladeXicohténcatl                    Tlaxcala
32           XalapaEnríquez  VeracruzdeIgnaciodelaLlave
33                   Mérida                     Yucatán
34                Zacatecas                   Zacatecas

In [18]:
#Dropping duplicated rows

drop_mask = [25.883676, 23.604599,28.640329]
condition = ~result['LAT_DECIMAL'].isin(drop_mask)
result = result[condition]
result = result.reset_index(drop=True)
print(result)

                         Concatenated_Column  LAT_DECIMAL  LON_DECIMAL  \
0               AguascalientesAguascalientes    21.879822  -102.296046
1                     BajaCaliforniaMexicali    32.641176  -115.475578
2                     BajaCaliforniaSurLaPaz    24.148745  -110.306590
3                           CampecheCampeche    19.844814   -90.539649
4                 CoahuiladeZaragozaSaltillo    25.421664  -100.999721
5                               ColimaColima    19.242922  -103.728118
6                     ChiapasTuxtlaGutiérrez    16.753972   -93.115192
7                         ChihuahuaChihuahua    28.636794  -106.076306
8               CiudaddeMéxicoCiudaddeMéxico    19.441646   -99.151884
9                   DurangoVictoriadeDurango    24.023987  -104.670194
10                      GuanajuatoGuanajuato    21.016098  -101.253621
11            GuerreroChilpancingodelosBravo    17.551649   -99.501063
12                      HidalgoPachucadeSoto    20.122359   -98.737000
13                        JaliscoGuadalajara    20.676388  -103.342222
14                       MéxicoTolucadeLerdo    19.293488   -99.657317
15                  MichoacándeOcampoMorelia    19.703384  -101.192046
16                         MorelosCuernavaca    18.921782   -99.234897
17                              NayaritTepic    21.507413  -104.893799
18                        NuevoLeónMonterrey    25.664697  -100.310892
19                      OaxacaOaxacadeJuárez    17.059993   -96.725450
20             PueblaHeroicaPuebladeZaragoza    19.043989   -98.197494
21              QuerétaroSantiagodeQuerétaro    20.593391  -100.389957
22                       QuintanaRooChetumal    18.493889   -88.297899
23                SanLuisPotosíSanLuisPotosí    22.151655  -100.976957
24                    SinaloaCuliacánRosales    24.808808  -107.393756
25                          SonoraHermosillo    29.074891  -110.958464
26                       TabascoVillahermosa    17.987837   -92.919415
27                  TamaulipasCiudadVictoria    23.731052   -99.151250
28            TlaxcalaTlaxcaladeXicohténcatl    19.316553   -98.237640
29  VeracruzdeIgnaciodelaLlaveXalapaEnríquez    19.527084   -96.922644
30                             YucatánMérida    20.967537   -89.624391
31                        ZacatecasZacatecas    22.776095  -102.571836

                            Entidad                   Capitales  \
0                    Aguascalientes              Aguascalientes
1                   Baja California                    Mexicali
2               Baja California Sur                      La Paz
3                          Campeche                    Campeche
4              Coahuila de Zaragoza                    Saltillo
5                            Colima                      Colima
6                           Chiapas            Tuxtla Gutiérrez
7                         Chihuahua                   Chihuahua
8                  Ciudad de México            Ciudad de México
9                           Durango         Victoria de Durango
10                       Guanajuato                  Guanajuato
11                         Guerrero   Chilpancingo de los Bravo
12                          Hidalgo             Pachuca de Soto
13                          Jalisco                 Guadalajara
14                           México             Toluca de Lerdo
15              Michoacán de Ocampo                     Morelia
16                          Morelos                  Cuernavaca
17                          Nayarit                       Tepic
18                       Nuevo León                   Monterrey
19                           Oaxaca            Oaxaca de Juárez
20                           Puebla  Heroica Puebla de Zaragoza
21                        Querétaro       Santiago de Querétaro
22                     Quintana Roo                    Chetumal
23                  San Luis Potosí             San Luis Potosí
24                          Sinaloa            Culiacán Rosales
25                           Sonora                  Hermosillo
26                          Tabasco                Villahermosa
27                       Tamaulipas             Ciudad Victoria
28                         Tlaxcala    Tlaxcala de Xicohténcatl
29  Veracruz de Ignacio de la Llave             Xalapa Enríquez
30                          Yucatán                      Mérida
31                        Zacatecas                   Zacatecas

                 Capitales_                    Entidad_
0            Aguascalientes              Aguascalientes
1                  Mexicali              BajaCalifornia
2                     LaPaz           BajaCaliforniaSur
3                  Campeche                    Campeche
4                  Saltillo          CoahuiladeZaragoza
5                    Colima                      Colima
6           TuxtlaGutiérrez                     Chiapas
7                 Chihuahua                   Chihuahua
8            CiudaddeMéxico              CiudaddeMéxico
9         VictoriadeDurango                     Durango
10               Guanajuato                  Guanajuato
11   ChilpancingodelosBravo                    Guerrero
12            PachucadeSoto                     Hidalgo
13              Guadalajara                     Jalisco
14            TolucadeLerdo                      México
15                  Morelia           MichoacándeOcampo
16               Cuernavaca                     Morelos
17                    Tepic                     Nayarit
18                Monterrey                   NuevoLeón
19           OaxacadeJuárez                      Oaxaca
20  HeroicaPuebladeZaragoza                      Puebla
21      SantiagodeQuerétaro                   Querétaro
22                 Chetumal                 QuintanaRoo
23            SanLuisPotosí               SanLuisPotosí
24          CuliacánRosales                     Sinaloa
25               Hermosillo                      Sonora
26             Villahermosa                     Tabasco
27           CiudadVictoria                  Tamaulipas
28   TlaxcaladeXicohténcatl                    Tlaxcala
29           XalapaEnríquez  VeracruzdeIgnaciodelaLlave
30                   Mérida                     Yucatán
31                Zacatecas                   Zacatecas

In [19]:
#SHOWING COLUMNS
print("Edos: ",idedo.columns)
print("Locations: ",result.columns)

Edos:  Index(['Año', 'Clave_Ent', 'Entidad', 'Bien jurídico afectado',
       'Tipo de delito', 'Subtipo de delito', 'Modalidad', 'Enero', 'Febrero',
       'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
       'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')
Locations:  Index(['Concatenated_Column', 'LAT_DECIMAL', 'LON_DECIMAL', 'Entidad',
       'Capitales', 'Capitales_', 'Entidad_'],
      dtype='object')

In [20]:
#Creating ID to each state in EDO dataframe
idedo['Entidad'] = idedo['Entidad'].str.strip()
idedo['Entidad_'] = idedo['Entidad'].str.replace(' ', '')
#Selecting columns from result dataframe
result_merge = result[["Entidad_","LAT_DECIMAL","LON_DECIMAL"]]
result_merge = pd.DataFrame(result_merge)
idedo = pd.DataFrame(idedo)

# Merge the 'inegi' and 'states' DataFrames based on 'Concatenated_Column'
edo_lat_lon = result_merge.merge(idedo, on='Entidad_')

# Display the result
print(edo_lat_lon)

# df_idedo_distinct = idedo['Entidad_'].drop_duplicates()
# df_result_distinct = result['Entidad_'].drop_duplicates()
# print(df_result_distinct)
# print(df_idedo_distinct)

             Entidad_  LAT_DECIMAL  LON_DECIMAL   Año  Clave_Ent  \
0      Aguascalientes    21.879822  -102.296046  2015          1
1      Aguascalientes    21.879822  -102.296046  2015          1
2      Aguascalientes    21.879822  -102.296046  2015          1
3      Aguascalientes    21.879822  -102.296046  2015          1
4      Aguascalientes    21.879822  -102.296046  2015          1
...               ...          ...          ...   ...        ...
28219       Zacatecas    22.776095  -102.571836  2023         32
28220       Zacatecas    22.776095  -102.571836  2023         32
28221       Zacatecas    22.776095  -102.571836  2023         32
28222       Zacatecas    22.776095  -102.571836  2023         32
28223       Zacatecas    22.776095  -102.571836  2023         32

              Entidad                             Bien jurídico afectado  \
0      Aguascalientes                   La vida y la Integridad corporal
1      Aguascalientes                   La vida y la Integridad corporal
2      Aguascalientes                   La vida y la Integridad corporal
3      Aguascalientes                   La vida y la Integridad corporal
4      Aguascalientes                   La vida y la Integridad corporal
...               ...                                                ...
28219       Zacatecas  Otros bienes jurídicos afectados (del fuero co...
28220       Zacatecas  Otros bienes jurídicos afectados (del fuero co...
28221       Zacatecas  Otros bienes jurídicos afectados (del fuero co...
28222       Zacatecas  Otros bienes jurídicos afectados (del fuero co...
28223       Zacatecas  Otros bienes jurídicos afectados (del fuero co...

                                  Tipo de delito  \
0                                      Homicidio
1                                      Homicidio
2                                      Homicidio
3                                      Homicidio
4                                      Homicidio
...                                          ...
28219                              Falsificación
28220                   Contra el medio ambiente
28221  Delitos cometidos por servidores públicos
28222                                Electorales
28223              Otros delitos del Fuero Común

                               Subtipo de delito  \
0                               Homicidio doloso
1                               Homicidio doloso
2                               Homicidio doloso
3                               Homicidio doloso
4                              Homicidio culposo
...                                          ...
28219                              Falsificación
28220                   Contra el medio ambiente
28221  Delitos cometidos por servidores públicos
28222                                Electorales
28223              Otros delitos del Fuero Común

                                       Modalidad  ...  Marzo  Abril  Mayo  \
0                              Con arma de fuego  ...      2      1     1
1                                Con arma blanca  ...      0      0     0
2                              Con otro elemento  ...      2      2     3
3                                No especificado  ...      0      1     0
4                              Con arma de fuego  ...      0      0     1
...                                          ...  ...    ...    ...   ...
28219                              Falsificación  ...     11     10     6
28220                   Contra el medio ambiente  ...      0      0     1
28221  Delitos cometidos por servidores públicos  ...     27     23    25
28222                                Electorales  ...      0      2     0
28223              Otros delitos del Fuero Común  ...    194    184   240

       Junio  Julio  Agosto  Septiembre  Octubre  Noviembre  Diciembre
0          1      2       1         2.0      2.0        2.0        1.0
1          1      0       1         0.0      0.0        0.0        1.0
2          2      0       1         2.0      0.0        0.0        0.0
3          0      0       0         0.0      0.0        0.0        0.0
4          0      0       0         0.0      0.0        0.0        0.0
...      ...    ...     ...         ...      ...        ...        ...
28219      9      9       2         NaN      NaN        NaN        NaN
28220      2      0       0         NaN      NaN        NaN        NaN
28221     32     25      13         NaN      NaN        NaN        NaN
28222      1      1       1         NaN      NaN        NaN        NaN
28223    208    172     137         NaN      NaN        NaN        NaN

[28224 rows x 22 columns]

In [25]:
#Editing and selecting columns

edo_lat_lon = edo_lat_lon[["Entidad","LAT_DECIMAL","LON_DECIMAL","Bien jurídico afectado","Tipo de delito","Subtipo de delito","Modalidad","Año","Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]]
edo_lat_lon = pd.DataFrame(edo_lat_lon)
# Exporting to csv file
newpath = "D:\\Proyects\\"
edo_lat_lon.to_excel(newpath + "IDE_LAT_LON.xlsx") #INCIDENCIA DELICTIVA ESTATAL CON LAT Y LON

#### ESTATAL FUERO COMUN

In [41]:
idfc = pd.read_csv(path_mun + "IDVFC_NM_ago23.csv", encoding='iso-8859-1') #INCIDENCIA ESTATAL FUERO COMUN

In [47]:
#CREATING NEW ID COLUMN TO MERGE
idfc['Entidad'] = idfc['Entidad'].str.strip()
idfc['Entidad_'] = idfc['Entidad'].str.replace(' ', '')

result_merge = pd.DataFrame(result_merge)
idfc = pd.DataFrame(idfc)

# Merge the 'inegi' and 'states' DataFrames based on 'Concatenated_Column'
idfc_lat_lon = result_merge.merge(idfc, on='Entidad_')

#SELECTING FINAL COLUMNS
idfc_lat_lon = idfc_lat_lon[['Entidad', 'LAT_DECIMAL', 'LON_DECIMAL' ,'Bien jurídico afectado',
       'Tipo de delito', 'Subtipo de delito', 'Modalidad', 'Sexo',
       'Rango de edad','Año', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
       'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']]

#EXPORTING DATAFRAME INCIDENCIA ESTATAL FUERO COMUN
idfc_lat_lon.to_excel(newpath + "IDEFC_LAT_LON.xlsx") #INCIDENCIA DELICTIVA ESTATAL FUERO COMUN CON LAT Y LON
idfc_lat_lon.tail()

,Entidad,LAT_DECIMAL,LON_DECIMAL,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Sexo,Rango de edad,Año,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
66235,Zacatecas,22.776095,-102.571836,Libertad personal,Otros delitos que atentan contra la libertad p...,Otros delitos que atentan contra la libertad p...,Otros delitos que atentan contra la libertad p...,No identificado,No identificado,2023,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
66236,Zacatecas,22.776095,-102.571836,El patrimonio,Extorsión,Extorsión,Extorsión,No identificado,No identificado,2023,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
66237,Zacatecas,22.776095,-102.571836,La sociedad,Corrupción de menores,Corrupción de menores,Corrupción de menores,No identificado,No identificado,2023,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
66238,Zacatecas,22.776095,-102.571836,La sociedad,Trata de personas,Trata de personas,Trata de personas,No identificado,No identificado,2023,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
66239,Zacatecas,22.776095,-102.571836,La sociedad,Otros delitos contra la sociedad,Otros delitos contra la sociedad,Otros delitos contra la sociedad,No identificado,No identificado,2023,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN